[submodule "exo"]
	path = exo
	url = https://github.com/adcastel/exo
[submodule "blis"]
	path = blis
	url = https://github.com/flame/blis
[submodule "EXO_ukr_generator"]
	path = EXO_ukr_generator
	url = https://github.com/adcastel/EXO_ukr_generator.git
